<div class="header-container">
  <h1 class="header-title">CoffeMap</h1>
  <nav class="header-nav">
    <a routerLink="/" class="nav-link">Inicio</a>
    <a routerLink="/reservas" class="nav-link">Reservas</a>
    <a routerLink="/comentarios" class="nav-link">Reseñas</a>

    @if (authService.isLoggedIn()) {
      <a routerLink="/ver-pedido" class="nav-link">Ver carrito</a>
      <a routerLink="/mis-pedidos" class="nav-link">Mis pedidos</a>
      <span class="nav-user">Hola, {{ authService.usuarioActual() }}</span>
      <app-boton texto="Cerrar sesión" variante="logout" (onClick)="authService.logout()">
      </app-boton>
    } @else {
      <a routerLink="/login" class="nav-link">Ingresar</a>
    }

    @if (authService.esAdmin()) {
    <a routerLink="/admin" class="nav-link">Panel Admin</a>
    }
  </nav>
</div>
