<div class="producto-card shadow-sm" [style.background-image]="getBackgroundImage()">
  <div class="producto-image"></div>

  <div class="producto-info">
    <span class="producto-nombre">{{ producto.nombre }}</span>
  </div>

  <div class="producto-overlay">
    <p class="producto-descripcion">{{ producto.descripcion }}</p>
    <p class="producto-precio">${{ producto.precio | number:'1.0-0' }}</p>

    <button class="btn custom-btn" type="button" (click)="agregarAlCarrito()">
      AGREGAR
    </button>
  </div>
</div>