.btn {
  background-color: #9C7B4D;
  color: black;
  border: none;
  padding: 12px 32px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;


&:hover {
  background-color: #b08d5a;
}

&.btn-logout {
  background-color: #e5d7c8;
  color: #4a2c11;
  border: 1px solid #9C7B4D;

  &:hover {
    background-color: #9C7B4D;
    color: #ffffff;
  }
}
}